
  <h1>{{ title }}</h1>
  <nav class="o-nav">
    <a class="o-nav__link" routerLink="/calculator" routerLinkActive="isActive">Calc</a>
    <a class="o-nav__link" routerLink="/word" routerLinkActive="isActive">Word</a>
    <a class="o-nav__link" routerLink="/signupform" routerLinkActive="isActive">SignUpForm</a>
    <a class="o-nav__link" routerLink="/table" routerLinkActive="isActive">Table</a>
    <a class="o-nav__link" routerLink="/lazyload" routerLinkActive="isActive">Lazyload</a>
    <a class="o-nav__link" routerLink="/rxjs" routerLinkActive="isActive">RxJS</a>
  </nav>
  <router-outlet></router-outlet>